*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
}
h1{
    color:cornflowerblue;
    position:absolute;
    left: 80px;
    top:0;
    line-height: 80px;
}
ul{
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
footer{
    position: absolute;
    height: 30px;
    background-color: black;
    width: 100%;
    bottom: 0;
}
footer p{
    color:aqua;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
main{
    position: absolute;
    top:80px;
}
.menu{
    display: none;
}
@media screen and (max-width:768px) {
    header ul{
        display: none;
    }
    header h1{
        left: 50%;
        transform: translateX(-50%);
    }
    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        left: 20px;
        top: 15px;
        border: none;
    }
}
#Leetcode a{
    color: blueviolet;
    text-decoration: none;
}
#Leetcode li{
    position: relative;
    line-height: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    left: 0;
}
#Leetcode li:hover{
    text-decoration: underline;
}